@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* Set permanent black background */
  --foreground: #ffffff; /* Set white text for contrast */
}

body {
  color: var(--foreground); /* Use the white foreground color */
  background: var(--background); /* Use the black background color */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure body spans the full viewport */
  width: 100%; /* Ensure body spans the full viewport */
}

